# Задачи по Python

### Задача 1
Cохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name какое-нибудь имя в виде строки

In [1]:
name = 'Ivan'    # можно написать name, age = 'Ivan', 23
age = 23

### Задача 2
Создайте произвольный список

In [68]:
s = ['Egypt', 'Sudan', 'Algeria', 'Morocco']

### Задача 3
Добавьте новый элемент типа str в конец списка

In [69]:
s.append('UAE')
print(s)

['Egypt', 'Sudan', 'Algeria', 'Morocco', 'UAE']

### Задача 4
Добавьте новый элемент типа int на место с индексом

In [70]:
s[2] = 47
print(s, type(s[2]))

['Egypt', 'Sudan', 47, 'Morocco', 'UAE'] <class 'int'>

### Задача 5
Добавьте новый элемент типа list в конец списка

In [71]:
s.append(['Tunisia', 'Iraq', 'Jordan'])
print(s)

['Egypt', 'Sudan', 47, 'Morocco', 'UAE', ['Tunisia', 'Iraq', 'Jordan']]

### Задача 6
Получите элемент по индексу

In [72]:
print(s[-1])

['Tunisia', 'Iraq', 'Jordan']

### Задача 7
Получите элемент по индексу

In [73]:
print(s[3])

Morocco

### Задача 8
Создайте произвольный словарь

In [11]:
Antonyms = {'left': 'right', 'dark': 'light'}
Antonyms['top'], Antonyms['North'] = 'bottom', 'South'
print(Antonyms)

{'left': 'right', 'dark': 'light', 'top': 'bottom', 'North': 'South'}

### Задача 9
Получите значение словаря по произвольному ключу

In [12]:
print(Antonyms['North'])

South

### Задача 10
Есть список a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89].

Выведите все элементы, которые меньше 5.

In [13]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
print(*[i for i in a if i < 5])

1 1 2 3

# Задачи по Pandas

### Задача 1
Сделайте импорт библиотеки Pandas

In [16]:
import pandas as pd

### Задача 2
Создайте "игрушечный" датафрейм из нескольких колонок и строк

In [62]:
kinopoisk_list = {
    'position': [1, 2, 3, 4, 5],
    'title': ['Shawshank Redemption', 'The Green Mile', 'The Lord of the Rings: Return of the King', 'Interstellar',
             'The Lord of the Rings: The Two Towers'],
    'review_score': [8.9, 8.9, 8.8, 8.8, 8.7],
    
}

kinopoisk_top = pd.DataFrame(kinopoisk_list)

kinopoisk_top

   position                                      title  review_score
0         1                       Shawshank Redemption           8.9
1         2                             The Green Mile           8.9
2         3  The Lord of the Rings: Return of the King           8.8
3         4                               Interstellar           8.8
4         5      The Lord of the Rings: The Two Towers           8.7

### Задача 3
Распечатайте количество строк и колонок с помощью метода shape

In [63]:
kinopoisk_top.shape   #первое значение - кол-во строк, второе - кол-во столбцов

(5, 3)

### Задача 4
Добавьте новый столбец, состоящий из чисел (float or int)

In [64]:
kinopoisk_top['review_count'] = 765669, 668260, 462886, 694109, 444697

### Задача 5
Распечатайте среднее арифмитическое по новому столбцу

In [65]:
kinopoisk_top['review_count'].mean()

607124.2

### Задача 6
Создайте новый столбец, где значения будут в два раза больше, чем в предыдущем

In [66]:
kinopoisk_top['double_the_count'] = kinopoisk_top['review_count'] * 2
kinopoisk_top

,position,title,review_score,review_count,double_the_count
0,1,Shawshank Redemption,8.9,765669,1531338
1,2,The Green Mile,8.9,668260,1336520
2,3,The Lord of the Rings: Return of the King,8.8,462886,925772
3,4,Interstellar,8.8,694109,1388218
4,5,The Lord of the Rings: The Two Towers,8.7,444697,889394